.imageHigh {
  object-fit: cover;
  width: 100%;
  height: 200px;
  cursor: pointer;
  opacity: 1;
  object-position: top;
  border-radius: 0.5rem;
}

.imageLow{
  objectFit: cover;
  width: 100%;
  height: 200px;
  cursor: pointer;
  opacity: 0.2;
  object-position: top;
  border-radius: 0.5rem;
}
.upgradeIcon{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4vw;
  transform: translate(-50%, -50%);
}
.upgradeText{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.relative{
  position: relative;
}
.premiumIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* make mobile responsive */
@media (max-width: 1200px) {
  .upgradeText{
    font-size: 1.2rem;
  }
}
.activityCard{
  flex-grow: 1;
  margin-bottom: 1.5rem;
  padding-left: 0.75rem;
  padding-right: 0.75rem;
  position: relative;
}
.pointerCursor {
  cursor: pointer;
}
.smallPadding {
  height: 1.5rem;
  padding: 0;
  min-width: auto;
}
.flexAlignCenter {
  display: flex;
  align-items: center;
}

.marginLeftHalf {
  margin-left: 0.5rem;
}

/* Transferred from sx prop for the activity card visibility */
.activityVisibilityAuto {
  display: auto;
}

.activityVisibilityNone {
  display: none;
}

/* Transferred from sx prop for the image opacity */
.opacityLow {
  opacity: 0.2;
}

.opacityHigh {
  opacity: 1;
}

/* Transferred from sx prop for Grid container */
.spaceBetween {
  justify-content: space-between;
  margin-top: 1rem;
}
@media (max-width: 900px) {
  .relative {
    margin: auto;
    display: block;
  }
  .relative span {
    margin: auto !important;
  display: block !important;
  }
}