

.search div > input {
  flex-grow: 1;
}

.search {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.inputBase {
  position: absolute;
  right: 0;
  width: 0;
  transition: width 0.3s ease-in-out;
  z-index: 1;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 0px;
}

.inputBase.clicked {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
}
.searchIcon{
  z-index: 2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: fit-content;
}

.searchIcon.clicked{
  width: 0;
  padding: 0;
  background-color: #0000;
}
.searchIcon.clicked:hover{
  background-color: #0000;
}

.closeButton{
  z-index: 100;
  right: 0;
  position: absolute;
  color: black;
  padding-right: 10px;

}

