.search div > input {
  flex-grow: 1;
}

.search {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: flex-end;
  align-items: center;
  width: -webkit-fill-available;
}

.inputBase {
  position: absolute;
  right: 0;
  width: 0;
  transition: width 0.3s ease-in-out;
  z-index: 1;
  background-color: white;
  border: none;
  border-radius: 20px;
  padding: 0px;
}

.inputBase.clicked {
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
}
.searchIcon {
  z-index: 2;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
  width: fit-content;
  color: #1c4e84;
}

.searchIcon.clicked {
  width: 0;
  padding: 0;
  background-color: #0000;
}
.searchIcon.clicked:hover {
  background-color: #0000;
}

.closeButton {
  z-index: 100;
  right: 0;
  position: absolute;
  color: black;
  padding-right: 10px;
}

@media (max-width: 900px) {
  .search button img {
    height: 20px;
  }
  .search {
    justify-content: center;
    overflow: hidden;
    width: 100%;
    padding: 10px;
  }
  .search button {
    border-radius: 17px;
    padding-left: 0;
    padding-right: 0;
    flex-basis: 33%;
  }
  .search div > input {
    width: 100%;
  }
  .closeButton {
    width: auto !important;
    margin-right: 10px;
  }
  .inputBase.clicked {
    border-radius: 17px;
  }
}
@media (max-width: 480px) {
  .search button img {
    display: none;
  }
  .searchIcon {
    width: 20px;
  }
}
