/* src/components/LoginForm.module.css */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  max-width: 500px;
  margin: auto;
}

.alert {
  width: 100%;
  margin-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 27rem;
}

.logoContainer {
  padding: 3rem;
  text-align: center;
  width: 100%;
}

.heading {
  margin-bottom: 2rem;
  font-size: 2rem;
  font-weight: bold;
}

.input {
  margin-bottom: 1rem;
  width: 100%;
}

.button {
  padding: 0.8rem;
  margin-top: 1rem;
  width: 100%;
}

.loginButton {
  padding: 0.8rem;
  margin-top: 1rem;
  width: 210px;
  border-radius: 50px;
  background-color: #008CBA;  /* Assuming a blue color for the login button */
  color: white;
}
