
.canvasContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #282c34;
}

.canvas {
  background-color: black;
  border: 2px solid white;
  box-shadow: rgb(99 99 99) 0px 2px 8px 0px;
}

.gameContainer {
  text-align: center;
  color: #61dafb;
}

.scoreBoard {
  margin-bottom: 10px;
  font-size: 35px;
    color: black;
}

.controls button {
  margin-right: 5px;
}