
/**
 * A container for the game.
 */
.container {
  max-width: 700px;
  min-width: 270px;
  margin: 0 auto;
  padding: 0 10px;
}
.tableBody{
  background-color: #fff;
}
/**
 * Header Section
 */
.header {
  position: relative;
  border-bottom: 2px solid hsl(213, 30%, 29%);
  padding: 0 20px;
}

.header h1 {
  float: left;
  font-size: 24px;
	font-weight: 600;
  line-height: 2.75;
  color: hsl(213, 30%, 29%);
  -webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;
}

.headerGroupOne {
  color: hsl(210, 88%, 56%);
}

.headerGroup-Two {
  color: hsl(213, 30%, 59%);
}

.header h2 {
  float: right;
  font-size: 18px;
  font-weight: 400;
  line-height: 2;
  color: hsl(213, 30%, 29%);
  padding-top: 16px;
  cursor: pointer;
}

.header h2:hover {
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.header::after {
  content: "";
  display: block;
  clear: both;
}

/**
 * Inner Container - contains both Game Section & Status Section.
 */
.innercontainer {
  display: flex;
  color: hsl(213, 30%, 29%);
  flex-wrap: wrap;
  padding: 0 20px;
}

/**
 * Game Section
 */
.game {
  width: 70%;
}

.gameBoard {
  font-family: 'Noto Sans', sans-serif;
  font-size: 26px;
  margin: 30px 0;
  border: 2px solid hsl(213, 30%, 29%);
  border-collapse: collapse;
}

.gameRow:nth-child(3), .gameRow:nth-child(6) {
  border-bottom: 2px solid hsl(213, 30%, 29%);
}

.gameCell {
  border: 1px solid hsl(213, 30%, 79%);
  padding: 12px 16px;
  color: #fff;
  cursor: pointer;
}

.gameCell.gameCell--filled {
  color: hsl(213, 30%, 29%);
}

.gameCell.gameCell--userfilled {
  color: hsl(213, 30%, 59%);
}

.gameCell.gameCell--selected {
  color: hsl(34, 26%, 89%);
  background-color: hsl(34, 26%, 89%);
}

.gameCell.gameCell--filled.gameCell--selected {
  color: hsl(213, 30%, 29%);
  background-color: hsl(34, 26%, 89%);
}

.gameCell.gameCell--userfilled.gameCell--selected {
  color: hsl(213, 30%, 59%);
  background-color: hsl(34, 26%, 89%);
}

.gameCell.gameCell--highlightselected {
  color: hsl(34, 76%, 89%);
  background-color: hsl(34, 76%, 89%);
}

.gameCell.gameCell--filled.gameCell--highlightselected {
  color: hsl(213, 30%, 29%);
  background-color: hsl(34, 76%, 89%);
}

.gameCell.gameCell--userfilled.gameCell--highlightselected {
  color: hsl(213, 30%, 59%);
  background-color: hsl(34, 76%, 89%);
}

.gameCell:nth-child(3n) {
  border-right: 2px solid hsl(213, 30%, 29%);
}

/**
 * Status Section
 */
.status {
  width: 30%;
}

.statusDifficulty {
  position: relative;
  top: 39px;
  left: 20px;
}

.statusDifficultyText {
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
}

.statusDifficultySelect {
  position: relative;
  display: inline-block;
  border: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  padding-left: 10px;
  padding-right: 30px;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  color: hsl(213, 30%, 59%);
  background-color: #fff;
  background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E');
  background-repeat: no-repeat;
  background-position: right .7em top 50%, 0 0;
  background-size: .65em auto, 100%;
}

.statusTime {
  position: relative;
  top: 70px;
  left: 10px;
  text-align: center;
  font-family: 'Teko', sans-serif;
  font-size: 30px;
  line-height: 1.5;
  letter-spacing: 0.2em;
  background-color: hsl(34, 26%, 89%);
  color: hsl(213, 30%, 59%);
  padding-top: 4px;
  margin: 0 30px;
}

.statusNumbers {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  position: relative;
  top: 93px;
  left: 10px;
}

.statusNumber {
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 26px;
  padding: 12px 0;
  cursor: pointer;
}

.statusNumber.statusNumberSelected {
  color: hsl(210, 88%, 56%);
}

.statusActions {
  position: relative;
  top: 100px;
  left: 10px;
  display: flex;
  flex-wrap: wrap;
}

.statusActionUndo,
.statusActionErase,
.statusActionHint,
.statusActionMistakesMode,
.statusActionFastMode {
  text-align: center;
  position: relative;
}

.statusActionUndo,
.statusActionErase,
.statusActionHint {
  width: 33.33%;
  cursor: pointer;
}

.statusActionMistakesMode {
  width: 60%;
}

.statusActionFastMode {
  width: 40%;
}

.statusActionSvg,
.statusActionMistakesModeSwitch,
.statusActionFastModeSwitch {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
}

.statusActionUndo .statusActionSvg {
  top: 18px;
  width: 38%;
  height: 38%;
}

.statusActionErase .statusActionSvg {
  top: 20px;
  width: 32%;
  height: 32%;
}

.statusActionHint .statusActionSvg {
  top: 11px;
  width: 48%;
  height: 48%;
}

.statusActionMistakesModeSwitch,
.statusActionFastModeSwitch {
  top: 16px;
  display: inline-block;
  width: 46px;
  height: 26px;
}

.statusActionText {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2;
  padding-top: 50px;
}

/* Hide default HTML checkbox */
.statusActionMistakesModeSwitch input,
.statusActionFastModeSwitch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.statusActionMistakeModeSlider,
.statusActionFastModeSlider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(213, 30%, 79%);
  border-radius: 26px;
  -webkit-transition: .4s;
  transition: .4s;
}

.statusActionMistakeModeSlider:before,
.statusActionFastModeSlider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;
  background-color: #fff;
  border-radius: 50%;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .statusActionMistakeModeSlider,
input:checked + .statusActionFastModeSlider {
  background-color: hsl(210, 88%, 56%);
}

input:focus + .statusActionMistakeModeSlider,
input:focus + .statusActionFastModeSlider {
  box-shadow: 0 0 1px hsl(210, 88%, 56%);
}

input:checked + .statusActionMistakeModeSlider:before,
input:checked + .statusActionFastModeSlider:before {
  -webkit-transform: translateX(20px);
  -ms-transform: translateX(20px);
  transform: translateX(20px);
}

/**
 * Footer Section
 */
.footer {
  color: hsl(213, 30%, 29%);
  font-weight: 400;
  margin: 80px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: hsl(210, 88%, 56%);
  text-decoration: none;
  padding-bottom: 0px;
  border-bottom: 2px dotted hsl(210, 88%, 56%);
}

.footer a:visited {
  color: hsl(210, 88%, 56%);
}

/**
 * Overlay Section
 */
.overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}

.overlay--visible {
  display: block;
}

.overlayText{
  position: absolute;
  width: 100%;
  text-align: center;
  top: 50%;
  left: 50%;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 60px;
  font-weight: 600;
  color: hsl(34, 26%, 89%);
  text-shadow: 0 2px 4px rgba(0, 0, 0, 0.20),
              0 10px 20px rgba(0, 0, 0, 0.25);
  transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
}

.overlayTextspan1 {
  color: hsl(213, 30%, 79%);
}

.overlayTextspan2 {
  color: hsl(210, 88%, 56%);
}

/**
 * Add this to blur any DIV!
 */
.blur {
	-webkit-filter: blur(2px);
	-moz-filter: blur(2px);
	-o-filter: blur(2px);
	-ms-filter: blur(2px);
	filter: blur(2px);
}

/**
 * Responsive Web Design!
 * 5 Modes:
 * 1. screen width > 670 px (2 column mode)
 * 2. 500px < screen width <= 670 px (1 column mode from here down...)
 * 3. 350px < screen width <= 500 px
 * 4. 300px < screen width <= 350 px
 * 5. screen width <= 300 px
 */
@media screen and (max-width: 670px) {
  .innercontainer {
    max-width: 500px;
    margin: 0 auto;
  }
  .game,
  .status {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  .gameBoard {
    width: 100%;
  }
  .gameCell {
    text-align: center;
  }
  .statusDifficulty {
    top: -18px;
    left: 0;
    width: 70%;
  }
  .statusTime {
    top: -20px;
    left: 0;
    width: 30%;
    margin: 0;
    background-color: #fff;
    text-align: right;
    font-size: 22px;
  }
  .statusNumbers {
    top: -10px;
    left: 0;
    width: 100%;
    grid-template-columns: repeat(9, 1fr);
    background-color: hsl(34, 26%, 89%);
  }
  .statusNumber {
    padding: 12px 0;
  }
  .statusActions {
    top: 0;
    left: 0;
    width: 100%;
  }
  .statusActionUndo,
  .statusActionRrase,
  .statusActionHint {
    width: 16.66%;
  }

  .statusActionMistakesMode {
    width: 30%;
  }

  .statusActionFastMode {
    width: 20%;
  }
}

@media screen and (max-width: 500px) {
  .gameCell,
  .statusNumber {
    font-size: 18px;
    padding: 8px 0;
  }
  .statusActionText {
    font-size: 14px;
  }

  .overlayText {
    font-size: 50px;
  }
}

@media screen and (max-width: 350px) {
  .gameCell,
  .statusNumber {
    font-size: 16px;
    padding: 4px 0;
  }
  .statusActionUndo,
  .statusActionErase,
  .statusActionHint {
    width: 33%;
  }

  .statusActionMistakesMode {
    width: 60%;
  }

  .statusActionFastMode {
    width: 40%;
  }

  .overlayText {
    font-size: 40px;
  }
}

@media screen and (max-width: 300px) {
  .gameCell,
  .statusNumber {
    font-size: 14px;
    padding: 2px 0;
  }
  .statusDifficultyText {
    display: none;
  }
  .statusDifficultySelect {
    padding-left: 0;
    margin-top: 3px;
  }
  .overlayText {
    font-size: 30px;
  }
}
