.table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
  text-align: center;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
}

.table th,
.table td {
  border: 1px solid #ddd;
  padding: 10px;
}

.table th {
  background-color: #061684;
  color: white;
}

.table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.table tr:hover {
  background-color: #ddd;
}

.table tr:nth-child(even):hover {
  background-color: #ddd;
}

.table tr:nth-child(odd):hover {
  background-color: #ddd;
}
