nav.navbar.navbar-dropdown.navbar-expand-lg {
  min-height: 70px;
  padding: 20px 0;
  transition: all 0.3s;
  border-bottom-width: 0;
  position: fixed !important;
  z-index: 100;
  width: 100vw;
  background-color: #686590;
}

.navbar-logo img {
  display: -webkit-flex;
  width: auto;
  height: 3.125rem;
  transition: all 0.3s ease-in-out;
  max-height: 50px;
  object-fit: contain;
  border-radius: 8px;
  float: left;
  display: block;
  width: 100%;
}

.navbar-logo a {
}


a.btn.btn-secondary.display-4 {
  width: max-content;
    margin: 0 12px 8px 12px;
    padding: 10px 16px;
    border: 2px solid #ffffff!important;
    background-color: #68658F!important;
    color: #ffffff !important;
    font-weight: 600;
    border-width: 1px;
    font-style: normal;
    /* margin: 0.6rem 0.6rem; */
    white-space: normal;
    transition: all 0.15s ease-in-out;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin: 0 12px 8px 12px;
    padding: 10px 16px;
    border-radius: 12px;
    word-break: break-word;
    font-family: 'Montserrat';
    font-size: 1.375rem;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-sel;
    line-height: 24px;
    width: max-content;
}

div#navbarSupportedContent {
    display: flex;
    flex-basis: auto;
    justify-content: space-between;
    z-index: 1;
    flex-basis: auto;
    -webkit-flex-grow: 1;
    -webkit-align-items: center;
}

li.nav-item {
    position: relative;
    padding: 10px 14px !important;
    vertical-align: middle;
    line-height: 2em !important;
    font-weight: 600 !important;
    text-decoration: none;
    letter-spacing: 0 !important;
    z-index: 1;
    margin: 0;
    border-radius: 8px;
    border: 2px solid transparent;
    display: flex;
    color: white;
    font-family: 'Montserrat';
    font-size: 1.375rem;
    line-height: 24px;
    word-break: break-word;
    word-wrap: break-word;
}

ul.navbar-nav.nav-dropdown {
    display: -webkit-flex;
    width: -webkit-fill-available;
    justify-content: flex-end;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 0;
}

a.nav-link.link.display-4 {
    transition: color 0s;
    font-weight: 400 !important;
    padding: 0 !important;
    margin: 0 !important;
    color: inherit;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-decoration: none;
}

.menu_box.container {
    width: -webkit-fill-available;
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;
    word-wrap: break-word;
}

.navbar-brand.d-flex {
    min-height: 70px;
    flex-shrink: 0;
    align-items: stretch;
    margin-right: 0;
    padding: 10px 0;
    transition: all 0.3s;
    word-break: break-word;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    /* width: -webkit-fill-available; */
}

button.navbar-toggler {
    outline: none;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s;
    position: relative;
    align-self: center;
    color: #fdf2ec;
    background: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    flex-direction: row;
}


@media (min-width: 992px) {
.navbar-expand-lg .navbar-toggler {
    display: none;
}
}
@media (min-width: 992px){
.container {
    padding-left: 16px;
    padding-right: 16px;
}
}

@media (min-width: 992px){
.container {
    padding-left: 16px;
    padding-right: 16px;
}

}

section, .container, .container-fluid {
    position: relative;
    word-wrap: break-word;
}

.cid-tFcg6m8FPY .mbr-section-btn-main {
  padding-top: 5px;
}


@media (min-width: 576px){
.container, .container-sm {
    max-width: 540px;
}}

@media (min-width: 768px){
  .container, .container-md, .container-sm {
      max-width: 720px;
  }}
  @media (min-width: 992px){
  .container, .container-lg, .container-md, .container-sm {
      max-width: 960px;
  }
  }

  @media (min-width: 1200px){
    .container, .container-lg, .container-md, .container-sm, .container-xl {
        max-width: 1140px;
    }
    }

    .navbar {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
  }
  
  .navbar-dropdown {
      left: 0;
      padding: 0;
      position: absolute;
      right: 0;
      top: 0;
      transition: all 0.45s ease;
      z-index: 1030;
      background: #282828;
  }
  
  .navbar {
      display: -webkit-flex;
      -webkit-flex-wrap: wrap;
      -webkit-align-items: center;
      -webkit-justify-content: space-between;
  }
  
  .cid-tFcg6m8FPY .navbar-dropdown {
      background-color: #686590;
      padding: 0;
  }
  
  .cid-tFcg6m8FPY .navbar-dropdown {
      position: relative !important;
  }
  
  .cid-tFcg6m8FPY .navbar {
      min-height: 70px;
      padding: 20px 0;
      transition: all 0.3s;
      border-bottom-width: 0;
      position: fixed !important;
      z-index: 100;
      width: 100vw;
  }
  
  @media (max-width: 992px) {
      .cid-tFcg6m8FPY .navbar {
          min-height: 30px;
          max-height: none;
      }
  }
  .collapse:not(.show) {
    display: none !important;
}

@media (min-width: 992px){
  .navbar-expand-lg .navbar-collapse {
      display: flex!important;
      flex-basis: auto;
  }
}

.cid-tFcg6m8FPY button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #222222;
}

.cid-tFcg6m8FPY button.navbar-toggler .hamburger span {
  position: absolute;
  right: 10px;
  margin-top: 14px;
  width: 26px;
  height: 2px;
  border-right: 5px;
  background-color: #222222;
}
.cid-tFcg6m8FPY button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all 0.2s;
}
.cid-tFcg6m8FPY button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tFcg6m8FPY button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all 0.15s;
}
.cid-tFcg6m8FPY button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all 0.2s;
}
.cid-tFcg6m8FPY nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}
.cid-tFcg6m8FPY nav.opened .hamburger span:nth-child(2) {
  transform: rotate(45deg);
  transition: all 0.25s;
}
.cid-tFcg6m8FPY nav.opened .hamburger span:nth-child(3) {
  transform: rotate(-45deg);
  transition: all 0.25s;
}
.cid-tFcg6m8FPY nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all 0.2s;
}

@media (max-width: 992px) {
  .navbar-brand.d-flex {
    width: -webkit-fill-available;
  }
}

section#footer1-9 {
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

h1 {
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    line-height: 1.5;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: 500;
    line-height: 1.5;
}

.blogPost_blogHero__60tTl {
    margin-bottom: 20px;
}
.CTA-button{
  text-align: center;
  margin: 10px;
}