button.storybookbutton,
a.storybookbutton {
  display: flex;
  font-family: "Montserrat", sans-serif;
  width: auto;
  gap: 10px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  font-size: 1rem;
  height: 48px;
  background: #0c437d;
  border-radius: 24px;
  border: 0;
  flex: none;
  order: 4;
  flex-grow: 0;
  color: #fff;
  cursor: pointer;
}

@media (max-width: 992px) {
  button.storybookbutton,
  a.storybookbutton {
    width: auto;
  }
}

button.storybookbutton:hover,
a.storybookbutton:hover {
  background-color: #2565ae;
}
