.footer {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(25px);
  display: flex;
  z-index: 1;
  padding: 8rem 0rem 2rem 0rem;
  font-size: 12px;
  width: 100%;
  color: #0f5298;
}
@media (max-width: 992px) {
  .footer {
    padding: 2rem;
  }
}

.footer .wrapper {
  max-width: 1440px;
  flex-grow: 1;
  padding: 0rem 1rem;
  align-items: center;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

@media (max-width: 992px) {
  .footer .wrapper {
    padding: 0;
    flex-direction: column;
  }
}
.rights {
  margin-bottom: 0;
  padding-bottom: 0;
}
.navigation ul {
  display: flex;
  align-items: center;
}
@media (max-width: 992px) {
  .navigation ul {
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
}

.navigation ul li {
  padding: 0rem 2rem;
  list-style: none;
}
@media (max-width: 992px) {
  .navigation ul li {
    padding: 0rem 1rem;
    flex-direction: column;
    margin-top: 0.75rem;
  }
}
.navigation ul li a {
  color: #0f5298;
  text-decoration: none;
}

.navigation ul li a:hover {
  color: #2565ae;
}
