@media (max-width: 900px) {
.activityCommentsContainer{
  padding-right: '1rem';
  padding-left: '1rem';
  margin-top: '1rem' ;
}
.activityCommentsContainer h2{
  margin: auto;
  padding-bottom: 10px;
}

}