
.header {
  display:flex;
  justify-content: space-between;
  align-items: center;

}
/* make mobile responsive */
@media (max-width: 900px) {
  .header {
    display:block;
    text-align: center;
  }

  .header h1{
  font-size: 1.5rem;
  width: 100%;
  }
}
