.drawer {
  height: 100%; 
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.logo {
  padding:2rem 3rem;
}

.navigationLink {
  text-decoration: none;
  color:#0c437d;
}
.navigationContainer::-webkit-scrollbar {
  display: none;
}

.navigationContainer{
  scrollbar-width: none;
  -ms-overflow-style: none;
}