.supportContainer {
  display: flex;
  align-items: center;
}
.support {
  background-color: white;
  margin: auto;
  width: fit-content;
  padding: 30px;
  vertical-align: middle;
  display: flex;
  border-radius: 20px;
  box-shadow: 0 9px 13px rgba(0, 0, 0, 0.1);
  align-content: center;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.support img {
  width: 200px;
  padding: 20px;
  margin: 14px;
}
.actionButtons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
.supportButton {
  padding: 20px;
  border: 1px solid #0c437d;
  background-color: white;
  color: #0c437d;
  font-size: 17px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 25px;
}
.callButton {
  padding: 20px;
  border-radius: 25px;
  border: none;
  background-color: #0c437d;
  color: white;
  font-size: 17px;
  margin-top: 10px;
  cursor: pointer;
}

@media (max-width: 600px) {
  .support {
    flex-direction: column;
  }
}
