.clientWrapper {
  padding-top: 2rem;

  margin: auto;
  box-sizing: border-box;
  text-align: center;
}

@media (max-width: 992px) {
  .clientWrapper {
    padding-top: 4rem;
    padding-bottom: 4rem;
  }
}

.clients {
  margin: auto;
  box-sizing: border-box;
  text-align: center;
  align-items: center;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.clients img {
  padding: 1rem;
}
@media (max-width: 992px) {
  .clients {
    display: grid;
    grid-template-columns: 33% 33% 33%;
  }

  .clients img {
    width: 100%;
    padding: 0.5rem 2rem 0rem 2rem;
  }
}
