.gameWindow {
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: #000000e0;
  padding: 40px;
  color: white;
  z-index: 10;
  left: -100vw;
  transition: left 0.5s ease-in-out;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  align-content: center;
  flex-wrap: nowrap;
  top: 0;
}

.makeWindowActive {
  left: 0;
}

.activeButton {
  position: absolute;
  top: calc(50vh - 53.75px);
  padding: 25px;
  font-size: 50px;
  border-radius: 0px 20px 20px 0px;
  border: none;
  left: 0;
  transition: left 0.5s ease-in-out;
}
.makeActive {
  position: fixed;
  left: 0;
  transition: left 0.5s ease-in-out;
  z-index: 110;
}
.activeButtonActive {
  left: calc(100vw - 80px);
}

.activeButton button {
  transition: transform 0.5s ease-in-out;
  transform: scaleX(1);
}

.activeButtonActive button {
  transform: scaleX(-1);
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: space-between;
  flex-wrap: nowrap;
  flex-direction: row;
}
.text {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.text h1 {
  font-size: 50px;
}
.text p {
  font-size: 30px;
}
