.wellbeingHtml {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.wellbeingBody {
  background-image: url("/assets/images/background.webp");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  /* height: 100%; */

  position: absolute;
  /* overflow: auto; */
  /* width: 100%; */
}

@media (max-width: 900px) {
  .wellbeingBody main {
    overflow: auto;
  }
  
}

/* over size 488px */
@media (min-width: 488px) {
  .wellbeingBody {
    width: 100%;
  }
}

