.snakeContainer {
  display: flex;
  height: 100vh;
}
.snakeContainer div{
  flex-grow: 50;
  align-items: center;
    display: flex;
}

.gameBorder {
    -webkit-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
}

.pointBar {
    margin: 5px auto;
    text-align: right;
}

.gameSplash {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000d5;
}

.gameSplash div, .snakeContainer button {
    margin: 20px 0;
}

.gameSplash div {
    font-size: 60px;
    color: white;
}

.gameSplash button {
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid black;
    background-color: #248ec2;
    color: white;
    font-family: 'East Sea Dokdo', cursive;
    font-size: 25px;
    transition: 0.5s;
}

.gameSplash button:hover {
    background-color: white;
    cursor: pointer;
    color: black;
}

.snakeMobileButtons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.snakeMobileButtons div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

.snakeMobileButtons div button {
    padding: 8px 20px;
    border-radius: 28px;
    border: 1px solid black;
}

.difficultySelector{
  /* background-color: #0f5298; */
  border-radius: 30px 30px 0px 0px;
}
.controls{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.controls button{
  font-size: 60px !important;
  background-color: #0f5298;
  color: white;
}
.score{
  font-size: 60px;
}