.search{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}


.fixedTopBar{
  background-color: white;
    padding: 20px;
    border-radius: 28px;
    position: fixed;
    z-index: 10;
    max-width:68vw;
    
}