.search {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-between;
  align-items: center;
}

.fixedTopBar {
  background-color: white;
  border-radius: 0px 0px 0px 28px;
  padding: 20px;
  box-shadow: rgb(99 99 99 / 69%) 0px 2px 8px 0px;
  position: fixed;
  z-index: 10;
  width: -webkit-fill-available;
  top: 0%;
  margin-left: 1%;
  opacity: 0.95;
}
.fixedTopBarAlignment {
  display: flex;
  justify-content: space-between;
}
.mobileFilters:hover {
  cursor: pointer;
  background-color: #f5f5f5;
}

@media (max-width: 900px) {
  .categoriesMobile {
    z-index: 10;
    background-color: white;
    top: 130px;
    position: fixed;
    width: -webkit-fill-available;
    text-align: center;
    border: 1px solid #e0e0e0;
    border-color: #e0e0e0;
    border-width: 1px 0px 1px 0px;
    flex-direction: column;
    columns: 2;
  }
  .categoriesMobile li {
    text-align: center;
    display: block;
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin: 10px 0px;
    border-radius: 10px;
    display: inline-block;
  }
  .fixedTopBar {
    margin-left: 0;
    border-radius: 0px 0px 0px 0px;
  }
  .title {
    text-align: center;
  }
  .fixedTopBarAlignment {
    display: block;
  }
  .search {
    display: block;
  }
}
