/* hangman.module.css */
.hangmanContainer {
  background: radial-gradient(ellipse at bottom left, var(--tw-gradient-stops));
  background-color: from-blue-100;
  background-image: via-indigo-100;
  background-image: to-purple-200;
  height: 100vh; /* equivalent to h-screen */
}

.content {
  font-family: 'Adlam', sans-serif;
  max-width: 768px;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  margin: auto;
  padding-top: 48px;
  height: 85vh;
  justify-content: space-between;
}

.selfStretch {
  align-self: stretch;
  width: -webkit-fill-available;
}


.column{
  display: flex;
  flex-direction: row;
  gap: 10vw;
  width: 85vw;
}
.restartButton {
  background-color: #0f5298;
  box-shadow: 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);
  color: #fff;
  cursor: pointer;
  font-weight: 600;
  height: fit-content;
  padding: 20px;
  border-radius: 20px;
  border: none;
}