.steps{

  display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.main{
  padding-top: 6rem;
}
.productCard{
  border-radius: 75px 75px 0px 0px;
  padding: 10px;
  transition: all 0.3s ease-in-out;
  max-height: 200px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 -5px 8px rgba(0,0,0,.1);
  color: black;
  max-width: 60%;
  text-align: center;
  margin: auto;
}
.startedImage{
  width: 50%;
  margin: auto;
  display: block;
  border-radius: 20px;
}

.productCard.expanded {
  max-height: 1000px;  
  transition: max-height 0.3s ease;
  padding-bottom: 110px;
  transition: all 0.3s ease-in-out;
}

.productCard:nth-child(2) {
  transform: translateY(-110px); 
}
.flexDisplay{
  display: flex;
}
.productCard:nth-child(3) {
  transform: translateY(-215px);  
  padding-bottom: 20px;
}


.laptopFrame, .screenContent {
  grid-area: 1 / 1 / 2 / 2; 
}



body .laptopFrame {
  z-index: 2;
  margin: auto;
  margin-top: 0px;
  width: -webkit-fill-available;
  height: auto;
  margin-bottom: 0;
}

.screenContent {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.5s ease; 
  transform: translateX(100%); 
  overflow: hidden;
    margin: auto;
  position: relative;
  transition: transform 0.5s ease; 
  transform: translateX(100%); /* Initially move the image to the right */
}

.laptopContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 569px;

}

.laptopFrame {
  margin-top: -120px;
  height: 100%;
  z-index: 2;
}

.screenContent {
  position: absolute;

  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Assuming you have a CSS module for your product as styles */
.screenContent {
  transition: transform 0.3s ease;   /* smooth slide transition */
  transform: translateX(0%);       /* initially position it outside the frame */
}

/* These classes will determine the position of the screen content */
.slideOut {
  transform: translateX(100%);
}

.fillAvailable{
  width: -webkit-fill-available;
}
.blueBackground{
  background-color: #c4e6f55c;
}
.motionTitle{
  text-align: center;
  font-size: 25px;
}

.featureButton{
  padding: 29px;
  border: 2px dashed;
  width: 100px;
  cursor: pointer;
  margin: 20px 0px;
  min-width: fit-content;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}
  

.featureButton:hover, .active{
  background-color: #fff;
  color: #000;
}

@media (max-width: 900px){
  .flexDisplay
  {
    display: inline-block;
  }

}
.discoveryTitle{
  text-align: center;
}
.discoveryText{
  text-align: center;
    margin: 0px 100px;
}
.productCard h1{
  text-align: center;
  margin-bottom: 1rem;
}
.stepsImage{
  text-align: center;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.stepsImage div div{
  cursor: pointer;
}
.stepsImage h1{
  font-size: 15px;
}
.arrow{
  position: absolute;
 
  transform: rotate(270deg);
}

.arrowTwo{
  position: absolute;
  transform: rotate(270deg);
}


.boost, .started, .spread{
  cursor: pointer;
  margin: 0px 50px;
}

/* on hover */
.boost:hover, .started:hover, .spread:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}


.flexDisplay {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line on small screens */
  justify-content: center;
}

.screenContent{    overflow: hidden;
  display: inline-flex;
  height: -webkit-fill-available;
  padding: 8px 0px 40px 0px;
  max-width: 436px;

}
.stepContent{ overflow: auto}

@media(min-width:1250px){
  .flexDisplay{
    flex-wrap: nowrap;
  }
}

@media (max-width: 00px) {
  .steps{
    display: block;
  }

}

@media (max-width: 600px) {
  .laptopContainer{
    display: none;
  }

}

.discoveryBackground {
  position: relative;
  background: white; /* Replace with your color */
  z-index: 1;
}

.main{
  background-color: #c4e6f55c;
  border-bottom-left-radius: 13% 13%;
  border-bottom-right-radius: 13% 13%;
}
.stepsContent{    margin-bottom: -130px;}
