.blogHero{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  text-align: center;
  font-size: 2rem;   
}
.backArrow{
position: absolute;
top: 145px;
z-index: 10;
left: 55px;
}
.blogHeroContent{
  width: 90%;
  margin-top: 9vh;
  max-width: 680px;
  text-align: left;
}
.Cards{
  padding: 2rem;
}
.blogHeroContent h1{
  font-size: 1.5em;
  margin-bottom: 0px;

}
.blogHeroContent h2{
  font-size: 0.5em;
  margin-bottom: 0px;
}

.blogHeroContent p{
  font-size: 0.5em;
  margin-bottom: 0px;
}
.blogHeroContent ul{
  font-size: 0.5em;
  font-weight: 500;
  margin-bottom: 0px;
}

.shareToolbar{
  border: solid #dfdfdf;
    border-width: 1px 0;
    padding: 10px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    align-items: center;

}
.shareToolbar button{
  text-align: right;
  justify-self: end;
  border: none;
  background: none;
  position:relative;
  display: inline-flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  border-radius: 5px;
}

.shareToolbar button:hover{
  background-color: #daecff;
}

.shareToolbar>div:first-child{
  position: relative;
  display: inline-flex;
  align-items: center;
}
.shareToolbar>div:nth-child(2){
  display: inline-grid;
  color: #000;
  gap: 10px;
  position: relative;
}
.shareToolbar img{
  bottom: 0;
}
.time{
  margin-left: 30px;
  width: max-content;
  bottom: 0;
}
.shareToolbar p{
  margin: 0;
  padding: 0;
  font-size: 13px;
}
.socials{
  display: inline-block;
  margin: 2px;
}
.blogHero .title{
  font-size:0.65em;
}

.image{
  max-width: 60%;
  margin: auto;
  display: block;
  border-radius: 20px;
  padding: 10px;
}
.notification{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 20px;
  padding: 20px;
  border-radius: 20px;
  background-color: #2b2b2b;
  position: fixed;
  width: fit-content;
  right: 1%;
  bottom: 1%;
  color: white;
}
.biggerTitle{
  font-size: 1.1em !important;
  margin-bottom: 0px;
}
/* mobile */
@media (max-width: 950px) {
  .backArrow{
    display: none;
  }
}
