.cardWrapper {
  padding: 2rem;
  max-width: 1224px;
  margin: auto;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 992px) {
  .cardWrapper {
    display: flex;
    width: 100%;
    flex-direction: column;
  }
}
.card {
  background: #f1d5ff;
  border-radius: 16px;
  /* max-width: 600px; */
  margin-right: 1.5rem;
  padding-bottom: 2rem;
  text-align: center;
  margin-bottom: 1rem;
  width: min-content;
}

.cardAlternative {
  margin: auto;
  background: #d5f3fe;
  border-radius: 16px;
  max-width: 600px;
  padding-bottom: 2rem;
  text-align: center;
  margin-bottom: 1rem;
}

@media (max-width: 992px) {
  .card,
  .cardAlternative {  
    width: 70%;
    max-width: 70%;
    margin-bottom: 0rem;
  }
}

.card img,
.cardAlternative img {
  max-width: 600px;
  height: 300px;  
  object-fit: contain;
  overflow: hidden;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.imageWrapper{
  padding:10px;
}


@media (max-width: 992px) {

  .card img,
  .cardAlternative img {
    max-width: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.card h2,
.cardAlternative h2,
.card p,
.cardAlternative p {
  padding: 0rem 2rem;
}

.card p,
.cardAlternative p {
  margin-bottom: 2rem;
}
.card a,
.cardAlternative a {
  padding: 12px 16px;
  gap: 8px;
  width: 230px;
  height: 48px;
  background: #0c437d;
  border-radius: 24px;
  flex: none;
  color: #fff;
  order: 2;
  display: inline-block;
  text-decoration: none;
  margin: auto;
  flex-grow: 0;
  cursor: pointer;
  margin: 10px;
}

.card a:hover,
.cardAlternative a:hover {
  background-color: #2565ae;
}
