.dayButton, .weekButton, .monthButton, .today{
  font-weight: 600;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms, color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #ffffff;
  background-color: #0f5298;
  padding: 0.75rem 1rem;
  border:none;
  cursor: pointer;
  border-radius: 28px;
}
.dayButton:hover, .weekButton:hover, .monthButton:hover, .today:hover{
  background-color: #0c437d;
}

.optionsMenu{
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  border-radius: 28px;
  cursor: pointer;
}
.dayButton{
  border-radius: 28px 0px 0px 28px;
}
.weekButton{
  border-radius: 0px;
}
.monthButton{
  border-radius: 0px 28px 28px 0px;
}
.threeDotsContainer {
  position: absolute;
  background: white;
  padding: 20px;
  top: 121px;
  right: 47px;
  z-index: 100;
  height: max-content;
  text-align: right;
  gap: 11px;
  flex-direction: column;
  align-items: center;
  max-height: fit-content;
  border-radius: 15px;
  border: 1px solid black;
  display:none;
}

.threeDotsContainer.open {
  display: flex;
}
.printButton, .scheduleButton{
  min-width: 64px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,border-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms,color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  color: #ffffff;
  background-color: #0f5298;
  box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
  margin-top: 1rem;
  border-radius: 200px;
  border:none;
  font-size: 16px;
  line-height: 1.5;
  padding: 0.7em 0.85em;
}
.toggle{    
  display: flex;
  gap: 10px;
  align-items: center;
}

.toggleSwitch {
  margin: auto;
  display: block;
  position: relative;
  width: 45px;
  height: 25.5px;
  cursor: pointer;
}

.toggleSwitchInput { 
  opacity: 0;
  width: 0;
  height: 0;
}

.switch {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
  border-radius: 25.5px;
  cursor: pointer;
}

.switch:before {
  position: absolute;
  content: "";
  height: 19.5px;
  width: 19.5px;
  left: 3px;
  bottom: 3px;
  background-color: white;
  transition: .4s;
  border-radius: 50%;
}

.toggleSwitchInput:checked + .switch {
  background-color: #0f5298;
}

.toggleSwitchInput:checked + .switch:before {
  transform: translateX(19.5px);
}


.eventContainer {
  width:100%;
  height: -webkit-fill-available;
}
.eventContainer div{
  height: -webkit-fill-available;
  overflow: hidden;
}

.event{
  padding: 0rem 0.5rem;
  padding: 0rem 0.5rem;
  max-width: 100%;
  width: fit-content;
  overflow: auto;
  text-overflow: ellipsis;
  /* background-color: rgb(54 137 216); */
}

.event h4 {
  font-size: 14px;
  white-space: normal;
  margin: 0;
}
.showButtons{
  background-color: #eeeeee;
  height: auto ! important;
}
.editButton, .openButton, .closeButton, .fullEditButton{
  background-color: #008CBA;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
  padding: 5%;
  width: 45%;
  margin: 2%;
}
.fullEditButton, .closeButton {
  width: 96%;
}
.closeButton{
  background-color: #f44336;
}

.editButton:hover, .openButton:hover{
  background-color: #005266;
}
.eventTitle{
  overflow: hidden;
  text-overflow: ellipsis;
}