.eventContainer {
  width:100%;
}

.event{
  padding: 0rem 0.5rem;
  padding: 0rem 0.5rem;
  max-width: 100%;
  width: fit-content;
  overflow: auto;
  text-overflow: ellipsis;
}

.event h4 {
  font-size: 14px;
  white-space: normal;
  margin: 0;
}
.showButtons{
  background-color: #eeeeee;
}
.editButton, .openButton, .closeButton, .fullEditButton{
  background-color: #008CBA;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 12px;
  transition: background-color 0.3s;
  padding: 5%;
  width: 45%;
  margin: 2%;
}
.fullEditButton, .closeButton {
  width: 96%;
}
.closeButton{
  background-color: #f44336;
}

.editButton:hover, .openButton:hover{
  background-color: #005266;
}
.eventTitle{
  overflow: hidden;
  text-overflow: ellipsis;
}