.main p{
  font-size: 1.3vw;
  padding: 20px;
  text-align: center;
}
.productBody footer{
  padding-top: 10px;
}
.steps{

  display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}
.main{
  padding-top: 6rem;
}

.productCard{
  border-radius: 15px;
  padding: 0px 10px;
  transition: all 0.3s ease-in-out;
  max-height: 90px;
  overflow: hidden;
  cursor: pointer;
  box-shadow: 0 -5px 8px rgba(0,0,0,.1);
  color: black;
  max-width: 90%;
  text-align: center;
  margin: auto;
}
.productCard .flexText{
  /* display: inline-flex; */
  padding: 0% 4%;

}
.startedImage{
  width: 40%;
  margin: auto;
  display: block;
  border-radius: 20px;
}

.leadImage{
  display: block;
  border-radius: 20px;
  width: 55%;
  margin: -30px auto;
}

.main .productCard.expanded {
  max-height: fit-content;
  border-radius:30px;
  max-height: fit-content;  
  transition: max-height 0.3s ease;
  padding-bottom: 0px;
  transition: all 0.3s ease-in-out;
}

.productCard:nth-child(2) {
  /* transform: translateY(-85px);  */
  margin: 10px auto;
}
.flexDisplay{
  display: flex;
}
.productCard:nth-child(3) {
  /* transform: translateY(-215px);   */
  margin: 10px auto 15px auto;
  padding-bottom: 20px;

}


.laptopFrame, .screenContent {
  grid-area: 1 / 1 / 2 / 2; 
}



body .laptopFrame {
  z-index: 2;
  margin: auto;
  margin-top: 0px;
  width: -webkit-fill-available;
  height: min-content;
  margin-bottom: 0;
}

.screenContent {
  z-index: 1;
  width: 100%;
  height: 100%;
  object-fit: cover; 
  transition: transform 0.5s ease; 
  transform: translateX(100%); 
  overflow: hidden;
    margin: auto;
  position: relative;
  transition: transform 0.5s ease; 
  transform: translateX(100%); /* Initially move the image to the right */
}

.laptopContainer {
  position: relative;
  display: flex;
  justify-content: center;
  width: -moz-fit-content;
  width: fit-content;
  max-width: 569px;

}

.laptopFrame {
  margin-top: -120px;
  height: 100%;
  z-index: 2;
}

.screenContent {
  position: absolute;

  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
}

/* Assuming you have a CSS module for your product as styles */
.screenContent {
  transition: transform 0.3s ease;   /* smooth slide transition */
  transform: translateX(0%);       /* initially position it outside the frame */
}

/* These classes will determine the position of the screen content */
.slideOut {
  transform: translateX(100%);
}

.fillAvailable{
  width: fit-content;
  margin-left: 40px;

}
.blueBackground{
  background-color: #c4e6f55c;
}
.motionTitle{
  text-align: center;
  font-size: 25px;
}

.featureButton{
  padding: 29px;
  border: 2px dashed;
  width: 100px;
  cursor: pointer;
  margin: 20px 0px;
  min-width: fit-content;
  width: 100%;
  border-radius: 20px;
  text-align: center;
}
  

.featureButton:hover, .active{
  background-color: #fff;
  color: #000;
}
.flexDisplay {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap onto the next line on small screens */
  justify-content: center;
}


@media (max-width: 900px){
  .main p{
    font-size: 2.3vw;
  }

}
.discoveryTitle{
  text-align: center;
}
.discoveryText{
  text-align: center;
    margin: 0px 100px;
}
.productCard h1{
  text-align: center;
}
.stepsImage{
  text-align: center;
  margin: 20px;
  position: relative;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.stepsImage div div{
  cursor: pointer;
}
.stepsImage h1{
  font-size: 20px;
}
.arrow{
  position: absolute;
 
  transform: rotate(270deg);
}

.arrowTwo{
  position: absolute;
  transform: rotate(270deg);
}


.boost, .started, .spread{
  width:150px;
  cursor: pointer;
  margin: 0px 60px;
  text-align: -webkit-center;
}
.boost div{
  background-color:hwb(336.67deg 92.55% 0.39%);
}
.started div{
  background-color:hwb(163.85deg 87.84% 1.96%);
}
.spread div{
  background-color:hwb(211.3deg 81.96% 0%);
}
.spread div img, .started div img, .boost div img{
  width: 55%;
  object-fit: cover;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.boost div, .started div, .spread div{
  padding:15px;
  height:80px;
  width:80px;
  border-radius:100%;
  position: relative;
}

/* on hover */
.boost:hover, .started:hover, .spread:hover{
  transform: scale(1.1);
  transition: all 0.3s ease-in-out;
}



.screenContent{    overflow: hidden;
  display: inline-flex;
  height: -webkit-fill-available;
  padding: 7px 0px 55px 1px;
  max-width: 436px;

}
.stepContent{ overflow: auto}

@media(min-width:1250px){
  .flexDisplay{
    flex-wrap: nowrap;
  }
}

@media (max-width: 900px) {
  .steps{
    display: block;
  }

}
.phoneContainer{
  display: none;
}

.discoveryText{
  margin-bottom: 40px;
}




@media (max-width: 900px) {
  .screenContent{
    padding: 0;
  }
  .featureButton{
    padding: 15px;
  }
  .fillAvailable{
    display: flex;
    margin-left: 0px;
    justify-content: space-evenly;
    gap: 10px;
    margin: auto;
  }
 
  .laptopContainer{
    display: none;
  }
  .discoveryText{margin: 0px 0px 75px 0px;
  }
  .phoneContainer{
    display: flex;
    position: relative;

    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
  }
  .main p {
    font-size: 2vh;
  }
  

}

.discoveryBackground {
  position: relative;
  z-index: 1;
  padding-top: 20px;
  background: linear-gradient(to bottom, #fff, #6bc6fa29);
  padding-bottom: 10px
}

.main{
  border-bottom-left-radius: 5% 8%;
  border-bottom-right-radius: 5% 8%;
  background: linear-gradient(to bottom, #fff, #6bc6fa29);
}
.stepsContent{    margin-bottom: -0px;
  padding-bottom: 25px;}

.closeButton {
  display: block;
  position: absolute; /* Positions the button in relation to the parent's position */
  top: 15px; /* Adjust as needed */
  right: 20px; /* Adjust as needed */
  background: none; /* No background */
  border: none; /* No border */
  font-size: 24px; /* Large text */
  cursor: pointer; /* Cursor indicates it's clickable */
  color: #333; /* Color of the 'X', change as needed */
}

/* .closeButton{
  display: none;
} */

/* Add some styles to ensure the parent (.productCard) is positioned relatively */
.productCard {
  position: relative; /* This makes sure the closeButton is positioned correctly within the card */
  /* Other styles remain unchanged */
}
.bookMeetingContainer{
  width: 1000px;
  margin: auto;
}

.bookMeeting{
  display: inline-flex;
}

.bookMeeting img{
  width: 35%;
    height: -moz-fit-content;
    height: -webkit-fill-available;
    border-radius: 20px;
    padding: 0px 10px;
    object-fit: cover;
    object-position: 23% 0%;
    height: 850px;
}
 

.calendly{
  overflow: hidden;
  height: -webkit-fill-available;
}
.bookMeeting{
  display: inline-flex;
}
.calendlyContainer{
  width: 70%;
  height: 860px;
  overflow: auto;
}

@media (max-width: 1000px){
  .bookMeetingContainer{
    width: 100%;
  }
  .bookMeeting{
    display: flex;
  }
  .bookMeeting img{
    display: none;
  }
  .calendlyContainer{
    width: 654px;
    overflow: auto;
    margin: auto;
    display: inline-block;
    height: 860px;
  }
  .calendly{
    overflow: hidden;
    height: -webkit-fill-available;
    margin-right: -30px!important;
    width: 100%;
  }
}
@media (max-width: 800px){
  .arrow, .arrowTwo{
    display: none;
  }
  .spread, .started, .boost{
    margin: 0px;
  }
  .stepsImage{
    align-items: stretch;
  }
  .productCard{
    max-height:80px;
  }
  .startedImage, .leadImage{
    width:100%;
  }

}

.phoneContent{
  overflow: hidden;
  margin: 20px 55px;
  width: 88%;
  height: 93.5%;
  padding: 0px;
  display: inline-flex;
  position: absolute;
  z-index: 1;
  -o-object-fit: cover;
  object-fit: cover;
}
