.Card{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;
  width: 100%;
  cursor: pointer;
  position: relative;
  background-color: #FDFCED;
  border: 1px solid black;
  height: 100%;
}
.Card img{
  -o-object-fit: cover;
    object-fit: cover;
    -o-object-position: top;
    object-position: top;
    width: 100%;
    height: 16vw;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
}
.Content{
  text-align: left;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Content h2{
  line-height: 1.2;
  margin-bottom:1.5em;
  font-size: 1.2rem !important;

}
.Card .learnMore{
  background: none;
  color: #000;
  box-shadow: none;
  width: fit-content;
  padding: 10px 0px;
  text-transform: initial;
  bottom: 1rem;
  left: 2rem;
  position: absolute;
}
.Card .learnMore .arrow{
  width: 18px;
  height: auto;
  margin: 0px 7px;
}
.Card .learnMore:hover {
  background: none;
  box-shadow: none;
}
@media screen and (max-width: 900px) {
  .Card{
    margin: 0px 0px 0px 0px;
  }
}

@media (max-width: 600px) {
  .Content{
    padding: 1rem 0.3rem;
  }
  .Card{
    display: flex;
  }
  .Card .learnMore{
    position: relative;
    left: 0;
    bottom: 0;
  }
  .Card .imageContainer{
    flex: 0 0 40%; /* Add this */
    height: auto;
    object-fit: cover;
    z-index: 1;
    overflow: auto;
  }
  .Card img{
    border-top-right-radius: 0px;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: 0;
    overflow: hidden;
    border-bottom-left-radius: 20px;
  }
}