.Card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.7);
  width: 100%;
  height: 500px;
  cursor: pointer;
  position: relative;
}
.Card img {
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  width: 100%;
  height: 16vw;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
}
.Content {
  text-align: left;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.Content h2 {
  line-height: 1.2;
  margin-bottom: 1.5em;
  font-size: 1.2rem !important;
}
.Card .learnMore {
  background: none;
  color: #130c7d;
  box-shadow: none;
  width: fit-content;
  padding: 10px 0px;
  text-transform: initial;
  bottom: 1rem;
  left: 2rem;
  position: absolute;
}
.Card .learnMore .arrow {
  width: 18px;
  height: auto;
  margin: 0px 7px;
}
.Card .learnMore:hover {
  background: none;
  box-shadow: none;
}
@media screen and (max-width: 900px) {
  .Card {
    margin: 0px 0px 0px 0px;
  }
}
