.card {
  background-color: white;
  width: 100%;
  border-radius: 17px;
  padding: 20px;
  margin: 10px;
  display: flex;
  transition: all 0.2s ease-in-out;
}

.card:hover {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transform: scale(1.03);
}

.imageContainer {
  width: 200px; /* Desired width */
  overflow: hidden; /* Ensures the image doesn't go outside the container */
  display: flex;
  align-items: center;
  margin-right: 15px;
}

.imageContainer img {
  width: 100%; /* Makes the image take full width of the container */
  height: auto; /* Maintains the aspect ratio */
  object-fit: cover;
  border-radius: 10px;
}

.card:first-of-type {
  margin-top: 0 !important;
}
