.filtered-background-section {
    position: relative;
    background-image: url('./../images/header.webp');
    background-size: cover;
    background-position: center;
}

.filtered-background-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(255 255 255 / 56%); /* White with adjustable opacity */
    z-index: -1;
}

/* Ensure content of the section is on top of the overlay */
.filtered-background-section * {
    position: relative;
    z-index: 1;
}
.customIcon{
    margin: 7px;
    color: white;
    fill: #686590;
    height: 30px;
    width: auto;
}
body{
    z-index: 0;
}
.text-wrapper {
    height: 100%;
}


.servicesGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Creates 6 equal columns */
    grid-gap: 10px;
}

.container .row .mbr-section-btn .services-button{
  background-color: #686590;
  color: white;
  font-family: 'Montserrat';
}

.customServiceIcon{
  fill: white;
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 55px;
  height: auto;
  position: absolute;
  top: -25px;
  background-color: #395a89;
  border-radius: 27px;
}


.tab-pane{
  padding: 30px;
  background-color: #385988;
  color: white;
  border-radius: 10px;
}

/* First row of 3 cards */
.servicesGrid .tab-pane:nth-child(1) { grid-column: 1 / span 2; } /* Spans 2 of 6 columns */
.servicesGrid .tab-pane:nth-child(2) { grid-column: 3 / span 2; }
.servicesGrid .tab-pane:nth-child(3) { grid-column: 5 / span 2; }

.servicesGrid .tab-pane:nth-child(4) { margin-top:20px } /* Spans 2 of 6 columns */
.servicesGrid .tab-pane:nth-child(5) { margin-top:20px } /* Spans 2 of 6 columns */
.servicesGrid .tab-pane:nth-child(6) { margin-top:20px } /* Spans 2 of 6 columns */

.servicesGrid .tab-pane:nth-child(4) { grid-column: 1 / span 2; } /* Spans 2 of 6 columns */
.servicesGrid .tab-pane:nth-child(5) { grid-column: 3 / span 2; }
.servicesGrid .tab-pane:nth-child(6) { grid-column: 5 / span 2; }

/* Second row of 2 cards */
/* .servicesGrid .tab-pane:nth-child(4) {grid-column: 2 / span 2;} /* Spans 3 of 6 columns */
/* .servicesGrid .tab-pane:nth-child(5) {grid-column: 4 / span 2;} */ */
.nameQuote{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  color: #686590;
}
.blogsTitle{
  color:white;
}

@media (max-width: 991px) {
.servicesGrid{
  display: flex;
  flex-direction: column;
}
.servicesGrid .tab-pane{
  margin-top: 20px;
}

}

.discoveryButton{
   margin:10px;s
}

.tab-pane{
    width: -webkit-fill-available;
    padding: 30px;
    border-radius: 10px;
    background-color: #3a5b8a;
    position: relative;
    padding-bottom: 70px;
    transition: all 0.15s;
}

.customTitle{
    text-align: center;
}

.servicesStart{
    position: absolute;
    bottom: 0; /* Aligns the button to the bottom of the container */
    left: 50%; /* Centers the button horizontally */
    transform: translateX(-50%);
}

.emailForm{
  display: inline-flex;
    width: -webkit-fill-available;
}

.signUp{
  margin-left: 18px;
  min-width: fit-content;
}
.footerMargin{margin-bottom: 50px;}

.signupText{
  color:white;
}
.partnerQuote{
  border-radius: 10px;
}

.cid-tFcg6m8FPY{
  z-index: 110;
}
.blacktitle{
  color: black;
}