.filtered-background-section {
    position: relative;
    /* background-image: url('./../images/header.webp'); */
    t(at left, #385988, white);
    background-image: radial-gradient(at left, #385988b8, #fdfced);
}

.filtered-background-section::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgb(255 255 255 / 56%); /* White with adjustable opacity */
    z-index: -1;
    background-image: radial-gradient(left to right, #385988, white);
}

/* Ensure content of the section is on top of the overlay */
.filtered-background-section * {
    position: relative;
    z-index: 1;
}
.customIcon{
    margin: 7px;
    color: white;
    fill: #686590;
    height: 30px;
    width: auto;
}
body{
    z-index: 0;
}
.text-wrapper {
    height: 100%;
}


.servicesGrid {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* Creates 6 equal columns */
    grid-gap: 10px;
}

.container .row .mbr-section-btn .services-button{
  background-color: #686590;
  color: white;
  font-family: 'Montserrat';
}

.customServiceIcon{
  fill: #3c5d8c;
  display: flex;
  justify-content: center;
  padding: 8px;
  width: 55px;
  height: auto;
  position: absolute;
  top: -25px;
  background-color: #ecedf4;
  border-radius: 27px;
}


.tab-pane{
  padding: 30px;
  background-color: #385988;
  color: white;
  border-radius: 10px;
}

/* First row of 3 cards */
.servicesGrid .tab-pane:nth-child(1) { grid-column: 1 / span 2; } /* Spans 2 of 6 columns */
.servicesGrid .tab-pane:nth-child(2) { grid-column: 3 / span 2; }
.servicesGrid .tab-pane:nth-child(3) { grid-column: 5 / span 2; }

.servicesGrid .tab-pane:nth-child(4) { margin-top:20px } /* Spans 2 of 6 columns */
.servicesGrid .tab-pane:nth-child(5) { margin-top:20px } /* Spans 2 of 6 columns */
.servicesGrid .tab-pane:nth-child(6) { margin-top:20px } /* Spans 2 of 6 columns */

.servicesGrid .tab-pane:nth-child(4) { grid-column: 1 / span 2; } /* Spans 2 of 6 columns */
.servicesGrid .tab-pane:nth-child(5) { grid-column: 3 / span 2; }
.servicesGrid .tab-pane:nth-child(6) { grid-column: 5 / span 2; }

/* Second row of 2 cards */
/* .servicesGrid .tab-pane:nth-child(4) {grid-column: 2 / span 2;} /* Spans 3 of 6 columns */
/* .servicesGrid .tab-pane:nth-child(5) {grid-column: 4 / span 2;} */ */
.nameQuote{
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 0;
  margin-top: 0;
  color: #686590;
}
.blogsTitle{
  color:white;
}

.statTitle{
  margin: 0 !important;
  font-size: 1.5rem !important;
  font-weight: bold !important;
}

@media (max-width: 991px) {
.servicesGrid{
  display: flex;
  flex-direction: column;
}
.servicesGrid .tab-pane{
  margin-top: 20px;
}

}

.discoveryButton{
   margin:10px;s
}

.tab-pane{
    width: -webkit-fill-available;
    padding: 30px;
    border-radius: 10px;
    background-color: #FDFCED;
    position: relative;
    transition: all 0.15s;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
}

.customTitle{
    text-align: center;
}

.servicesStart{
    position: absolute;
    bottom: 0; /* Aligns the button to the bottom of the container */
    left: 50%; /* Centers the button horizontally */
    transform: translateX(-50%);
}

.emailForm{
  display: inline-flex;
    width: -webkit-fill-available;
}

.signUp{
  margin-left: 18px;
  min-width: fit-content;
}
.footerMargin{margin-bottom: 50px;}

.signupText{
  color: black;
}
.partnerQuote{
  border-radius: 0px;
}

.cid-tFcg6m8FPY{
  z-index: 110;
}
.blacktitle{
  color: black;
}


h1.mbr-section-title.mbr-fonts-style.display-1 {
    margin: 10px;
    color: #385988;
}

h1.heroText {
    margin: 10px 0px;
    color: black;
    font-family: 'Montserrat';
    font-size: 50px;
    font-weight: 700;
}

h1.heroText.blueText {
    color: #385988;
}

.blueText span {
    font-weight: 700;
}

p.subheadingText {
    color: black;
    font-family: 'Montserrat';
    line-height: 1.3;
    width: 80%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 30px;
}

section#content5-f {
    text-align: center;
    background-image: radial-gradient(at right, #385988, white);
    color: black;
:;
    text-align: center;
    background-image: radial-gradient(at right, #385988, white);
    color: black;
:;
    background: radial-gradient(circle at top right, #FDFCED, #385988), radial-gradient(circle at top left, #fdfced 15px, #385988, #FDFCED), radial-gradient(circle at bottom left, transparent 15px, #FDFCED, #385988);
          radial-gradient(
    circle at bottom right, transparent 15px, #385988, #FDFCED) bottom right;
     /* Bottom left transparent circle */
    background: radial-gradient(circle at top left, #FDFCED, #fdfced17), radial-gradient(circle at top right, #3859909c, #fdfced00), radial-gradient(circle at bottom right, #FDFCED, #fdfced00), radial-gradient(circle at bottom left, #385990c7, #FDFCED);
}

.demoButtonContainer p {
    margin-top: 10px;
    font-family: 'Montserrat';
}

.blueDemoButton {}

svg.featureIcon {
    height: 4vw;
}

h2.mbr-section-title.mbr-fonts-style.display-2.setInMotionTitle {
    text-align: center;
    font-weight: 700;
}

.mbr-section-btn-main.fixWidth {
    min-width: fit-content;
}

.resourceItems p {
    text-align: start !important;
    margin-bottom: 0px;
    padding: 0px !important;
}

.miniBlogs .title-wrap .customTitle {
    font-size: 20px;
    text-align: start;
}

a.btn.btn-secondary.display-4.readMoreButton {
    background-color: #385988;
    padding: 20px 40px;
    width: max-content;
    border-radius: 10px;
    color: white;
    box-shadow: 0px 2px 4px rgb(0 0 0 / 25%);
    margin: auto;
    font-family: 'Montserrat';
    margin-top: 25px;
}

.cid-tFcgeFyM9G {
    background: radial-gradient(circle at top left, #FDFCED, transparent), radial-gradient(circle at top right, #385990, #fdfced), radial-gradient(circle at bottom right, #FDFCED, #fdfced), radial-gradient(circle at bottom left, #fdfced, #385988);
}

section#form1-d {}

section#form1-d {}

section#form1-d {}

section#form1-d {
    background: linear-gradient(to right, #a4b6cf, #fdfced);
}

.cid-tFcguy0QTa {
    background-color: #fdfced !important;
}

.pricingCard {
    border: 1px solid black;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    height: 100%;
}

.ticks {
    padding: 10px 0px;
    border-top: 1px solid black;
    /* margin-top: 14px; */
}