.CTAWrapper {
  background: radial-gradient(
    84.64% 1600.26% at 8.91% 7.5%,
    #9446b9 0%,
    #64c3ee 100%
  );
  border-radius: 16px;
  padding: 3rem;
  margin: 2rem;
}
@media (max-width: 992px) {
  .CTAWrapper {
    margin: 2rem 2rem;
  }
}
.CTA {
  display: flex;
  max-width: 1276px;
  margin: auto;
  align-items: center;
  gap: 100px;

}

@media (max-width: 992px) {
  .CTA {
    display: block;
  }
}

.CTA blockquote {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  color: #ffffff;
  padding: 0;
  margin: 0;
  /* margin-right: 12rem; */

  /* margin-bottom: 1rem; */
}

@media (max-width: 992px) {
  .CTA blockquote {
    font-size: 24px;
    text-align: center;
    margin-right: 0rem;
  }
}

.CTA cite {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}

@media (max-width: 992px) {
  .CTA cite {
    text-align: center;
    margin: auto;
    width: 100%;
    display: block;
    margin-bottom: 1rem;
  }

  .CTA img {
    text-align: center;
    margin: auto;
    width: 212px;
    display: block;
    margin-top: 1rem;
  }
  .googleReview{
    place-content: center;
    display: grid;
  }
}

.CTA a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;
  color: #fff;
  /* Purple/Dark */
  margin-top: 2rem;
  text-decoration: none;
  background: #0c437d;
  border-radius: 24px;
  text-align: center;
  width: 10rem;
  justify-self: center;
}

